$main-color: #F5C9BB;
$main-color-dark: rgba(245, 201, 187, 0.9);
$sub-color: #F5F2F0;
$sub-color-dark: rgba(245, 242, 240, 0.9);
$btn-text-color: #5F5050;
$title-color: #5F5050;         
$title-color-dark: #999999;
$icon-active-color: #FFA088;
$hover-color: #F5BBBB;
$active-color: #FAE0D8;
